*{
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0; 
}

/*cabeçalho*/
header{
	background-color: darkturquoise;
	height: 150px;

}

div#logo{
	font-size: 70px;
	padding: 20px;
	float: left;
}

div#menu{
	font-size: 20px;
	padding-top: 60px;
	float: right;
}

div#menu a{
	text-decoration: none;
	color: black;
	text-shadow: 1px 0.5px #111111;
	padding: 70px 10px;
}

div#menu a:hover{
	background-color: black;
	color: darkturquoise;
}

/*div-imagens*/
div#imagens-more{
	background-color: #2F4F4F;
    height: 1500px;
    padding: 50px;
}

/*imagens*/
div#imagens-more img#imagem1{
	width: 360px;
	margin-left: 25px; 
	margin-top: 0px;
	margin-bottom: 120px;
	border-radius: 10px;
}

div#imagens-more img#imagem2{
	width: 360px;
	margin-left: 50px; 
	margin-top: 0px;
	margin-bottom: 30px;
	border-radius: 10px; 
}

div#imagens-more img#imagem3{
	width: 360px;
	margin-left: 50px; 
	margin-top: 25px;
	margin-bottom: 0px; 
	border-radius: 10px;
}

div#imagens-more img#imagem4{
	width: 360px;
	margin-left: 0px; 
	margin-top: 50px;
	margin-bottom: 120px; 
	border-radius: 10px;
}

div#imagens-more img#imagem5{
	width: 360px;
	margin-left: 50px; 
	margin-top: 50px;
	margin-bottom: 120px;
	border-radius: 10px; 
}

div#imagens-more img#imagem6{
	width: 360px;
	margin-left: 50px; 
	margin-top: 50px;
	margin-bottom: 0px;
	border-radius: 10px; 
}

div#imagens-more img#imagem7{
	width: 360px;
	margin-left: 25px; 
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 10px; 
}

div#imagens-more img#imagem8{
	width: 360px;
	margin-left: 50px; 
	margin-top: 50px;
	margin-bottom: 0px;
	border-radius: 10px; 
}

/*rodapé*/
footer{
	clear: both;
    color: black;
    background-color: darkturquoise;
    height: 50px;
    text-align: center;
}