<!DOCTYPE html>
<html lang="pt-br">

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSs/style.css')}}">
</head>

<body>
	
       <header>
       	  
       	  <div id="logo">
       	      <h3>LEGO Ideas</h3>
       	  </div>
       	      
       	  <div id="menu">
              <a href="objetivo.html">Objetivo</a>
              <a href="more.html">More</a>  
       	  </div>

       </header>
       <div class="container">

    	    <div id="div-esquerda">
    	  	 
    	  	 	
               <img id="imagem0" src="../static/_images/legoideaslogo.png">

    	  	 
    	  	 
    	  	   <p id="paragrafo2">

    	  	    Apresentação de ideias para construções em LEGO:
    	  	
    	  	   </p>
    	  	   <div id="paragrafo3">
    	  	  
    	  	    <br>
                -Gorila Cyborg;
                <br>
                -Mega Mech;
                <br>
                -Praia;
                <br>
                -Café;
                <br>
                -Black Auto.
             
              </div>
    	  
    	    </div>
    	 
    	    <div id="div-direita">
    	  	  	  <img id="imagem1" src="../static/_images/Logomech.jpeg"/>
    	  	  	  <img id="imagem2" src="../static/_images/Legobublebee.jpeg">
    	  		  <br>
    	  		  <img id="imagem3" src="../static/_images/Legopraia.jpeg">
    	  		  <img id="imagem4" src="../static/_images/Legocafe.jpeg">
    	  		  <br>
    	  		  <img id="imagem5" src="../static/_images/Legocarro.jpeg">
            </div>
        </div>
       
        <footer>
       	Obrigado pela preferência
       	<br>
       	Volte sempre
       </footer>
   		
</body>
</html>