<!DOCTYPE html>
<html lang="pt-br">

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSSs/more.css')}}">
</head>

<body>
	<header>
	      <div id="logo">
       	     <h3>LEGO Ideas</h3>
          </div>
          <div id="menu">
    	     <a href="index.html">Home</a>
          </div>
    </header>

    <div id="imagens-more">
    	
    	<img id="imagem1" src="../static/_images/Logomech.jpeg"/>
    	<img id="imagem2" src="../static/_images/Legobublebee.jpeg">
        <img id="imagem3" src="../static/_images/Legopraia.jpeg">
    	<img id="imagem4" src="../static/_images/Legocafe.jpeg">
    	<img id="imagem5" src="../static/_images/Legocarro.jpeg">
    	<img id="imagem6" src="../static/_images/Legocastle.jpeg">
    	<img id="imagem7" src="../static/_images/Legorestaurante.jpeg">
    	<img id="imagem8" src="../static/_images/Legobanana.jpeg">
 

    </div>

    <footer>
       	Obrigado pela preferência
       	<br>
       	Volte sempre
    </footer>
   		
</body>
</html>